$text-color: #323233;
$primary-color: #1989fa;

$dark-fontColor: #000;
$content-fontcolor: #333;
$medium-fontColor: #666;
$light-fontColor: #999;
$content-notice-fontcolor: #777;
$content-bgColor: #f1f1f1;
$search-bgColor: #f5f5f5;
$search-fontColor: #b7b7b7;
$hightlight-fontColor: #e93b3b;
$btn-bgColor: #1989fa;
$bgColor: #fff;
$dark-bgColor: #f8f8f8;
